.pagina-treino-cliente {
    background-image: url('../../../public/assets/images/fundo.jpg');

    .secaomae {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6vh;
        padding: 5vh;

        .titulo {
            color: #FFFFFF;
            font: 600 26px 'Roboto';
            text-align: center;
        }

        .secaoCliente {
            display: flex;
            flex-direction: row;
            gap: 4vw;
           
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .avatar {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #d8d8d8;
                border-radius: 8px;
                max-width: 25em;
                gap: 1vh;
                padding: 1em 1em 0em 1em;

                p {
                    font: 400 16px 'Roboto';
                    text-align: center;
                }


                .imagem {
                    display: flex;
                    justify-content: center;


                    #cliente {
                        max-width: 19em
                    }
                }

                .sobreimg {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 0.5em;

                    max-width: 100%;

                    .butao {

                        font: 500 16px 'Roboto';
                        padding: 0.3em 0.6em;
                        background-color: #f0f0f0;
                        border-radius: 5px;
                        border: 1px solid #7c7c7c;
                        max-width: 60%;

                    }

                    .butao:hover {
                        background-color: #d8d8d8;
                    }

                    p {
                        display: flex;
                        flex-direction: row;
                        gap: 1vh;
                    }

                    input {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 9.4em;

                    }


                }

            }

            .infosCliente {
                display: flex;
                flex-direction: column;
                gap: 3vh;
                padding: 1em;
               

                .nome {
                    width: 100%;

                    div {
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        align-items: center;

                        .nomecli {
                            width: 100%;
                        }

                        .icon {
                            width: 2.0em;
                            position: absolute;
                            right: 18px;
                        }
                    }

                }

                .telefone {
                    width: 100%;

                    div {
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        align-items: center;

                        .telefonecli {
                            width: 100%;
                        }

                        .icon {
                            width: 2.0em;
                            position: absolute;
                            right: 18px;
                        }
                    }

                }


                .datidade {
                    display: flex;
                    flex-direction: row;
                    gap: 4vh;
                    width: 100%;

                    .nascimento {
                        width: 100%;

                        div {
                            display: flex;
                            flex-direction: row;
                            position: relative;
                            align-items: center;
                           

                            .dtnasc{
                                width: 100%;
                            }

                            .icon {
                                width: 2.0em;
                                position: absolute;
                                right: 3em;
                            }
                        }

                    }

                    .idade {
                        width: 100%;

                            .idadecli{
                                width: 100%;
                            } 

                    }

                }

                input {
                    color: gray;
                }


                .avas {
                    display: flex;
                    flex-direction: row;
                    gap: 4vh;
                    width: 100%;

                    .dataava {
                        width: 100%;

                            .dtava{
                                width: 100%;
                            }       

                    }

                    .datareava {
                        width: 100%;

                        div {
                            display: flex;
                            flex-direction: row;
                            position: relative;
                            align-items: center;
                           

                            .dtrev{
                                width: 100%;
                            }

                            .icon {
                                width: 2.0em;
                                position: absolute;
                                right: 3em;
                            }
                        }

                    }
                }

                h2 {
                    font: 600 23px 'Roboto';
                    color: #FFFFFF;
                }

                input {
                    height: 6vh;
                    width: 74vh;
                }
            }
        }

        .tabAvaliacao {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #d8d8d8;
            padding: 10px;
            gap: 3vh;
            border-radius: 8px;

            .butonedit {
                font: 500 1em 'Roboto';
            }
            .butonedit:hover {
                background-color: #ebebeb;
                border: #000 solid 1px;
            }

            h2 {
                font: 600 24px 'Roboto';
                color: #000000;
                text-align: center;
            }

            h3 {
                font: 500 19px 'Roboto';
            }

            .dadosFisicos {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 7vh;
                padding-bottom: 15px;

                input {
                    width: 100%;
                    border-radius: 3px;
                    outline: none;
                }

                .dados1 {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                }

                .dados2 {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                }
            }
        }

        .detalhesTreino {
            display: flex;
            flex-direction: column;
            gap: 3vh;

            input {
                width: 30em;
                max-width: 80vw;
                border-radius: 3px;
                outline: none;
                padding: 10px;
            }

            .objetivosTreino {

                display: flex;
                flex-direction: column;
                width: 54vw;
                background-color: #d8d8d8;
                border-radius: 8px;
                padding: 15px;
                gap: 10px;
                position: relative;

                .objetivos {

                    min-height: 4em;
                    font: 500 1.5em 'Roboto';
                    width: 30em;
                    max-width: 80vw;
                    border-radius: 3px;
                    outline: none;
                    padding: 10px;
                }

                h2 {
                    font: 500 24px 'Roboto';
                    color: #000000;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    
                    align-items: center;

                    .icon {
                        width: 2.0em;
                        position: absolute;
                        right: 2vw;
                        top: 1vw;
                    }
                }
            }

            .exerciciosTreino {

                display: flex;
                flex-direction: column;
                width: 54vw;
                background-color: #d8d8d8;
                border-radius: 8px;
                padding: 15px;
                gap: 10px;
                position: relative;

                .exercicios {
                    min-height: 4em;
                    font: 500 1.5em 'Roboto';
                    width: 30em;
                    max-width: 80vw;
                    border-radius: 3px;
                    outline: none;
                    padding: 10px;
                }


                h2 {
                    font: 500 24px 'Roboto';
                    color: #000000;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .icon {
                        width: 2.0em;
                        position: absolute;
                        right: 2vw;
                        top: 1vw;
                    }
                }
            }
        }

        .tabReavaliacao {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            background-color: #d8d8d8;
            padding: 10px;
            gap: 3vh;
            border-radius: 8px;

            h2 {
                font: 600 24px 'Roboto';
                color: #000000;
                text-align: center;
            }

            h3 {
                font: 500 19px 'Roboto';
            }

            .dadosFisicos {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 7vh;
                padding-bottom: 15px;

                input {
                    width: 100%;
                    border-radius: 3px;
                    outline: none;
                }

                .dados1 {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                }

                .dados2 {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                }
            }
        }

        .botoes {
            display: flex;
            flex-direction: row;
            gap: 6vh;
            padding: 20px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .concluir {
                background-color: #000;
                color: #ffffff;
                align-self: center;
                padding: 13px;
                font: 600 2.5vh 'Oswald';
            }
            .concluir:hover {
                background-color: #d8d8d8;
              
            }

            .excluir {
                background-color: #ffffff;
                color: #f00000;
                align-self: center;
                padding: 13px;
                font: 600 2.5vh 'Oswald';
            }
            .excluir:hover {
                background-color: #d8d8d8;
            }
        }

    }

    @media screen and (max-width: 650px) {
       
        .dadosFisicos{
            flex-wrap: wrap;
            width: 60vw;
    }
  

    }

    @media screen and (max-width: 600px) {
       
       .avatar{
        width: 15em;
        #cliente{
            width: 10em;
        }
       }

       .infosCliente{

        .datidade{
            flex-wrap: wrap;
        }
        
        .avas{
            flex-wrap: wrap;
        }
    }

    .objetivosTreino {
        .objetivos{
            height: 12.5em;
        }
        
    }

    .exerciciosTreino{
        .exercicios{
            height: 12.5em;
        }
    }

    }
}