.pagina-cliente-concluido{
    background-image: url('../../../public/assets/images/fundo.jpg');

    .secaomae{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6vh;
        padding: 5vh;

        .titulo{
            color: #FFFFFF;
            font: 600 26px 'Roboto';
        }

        .secaoCliente{
            display: flex;
            flex-direction: row;
            gap: 4vw;
            flex-wrap: wrap;
           
            
            align-items: center;
            justify-content: center;

            .avatar{  
                max-width: 17em
            }

            .infosCliente{
                display: flex;
                flex-direction: column;
                gap: 3vh;
                padding: 1em;

                .info{
                    width: 100%;
                    
                    .nome{
                        width: 100%;

                    }
                    .telefone{
                        width: 100%;

                    }
                }

                .datidade{
                    display: flex;
                    flex-direction: row;
                    gap: 4vh;
                    width: 100%;

                    .info{
                        width: 100%;

                        .datanasc{
                            width: 100%;

                        }

                        .idade{
                             width: 100%;

                        }
                     
                    }
                }
                
                .avas{
                    display: flex;
                    flex-direction: row;
                    gap: 4vh;
                    width: 100%;
    

                    .info{
                        width: 100%;

                        .dataAva{
                            width: 100%;

                        }

                        .dataRev{
                            width: 100%;

                        }
                      
                    }
                }

                h2{
                    font: 600 23px 'Roboto';
                    color: #FFFFFF;
                }
            }
        }

        .detalhesTreino{
            display: flex;
            flex-direction: column;
            gap: 3vh;

            input{
                width: 30em;
                max-width: 80vw;
                border-radius: 3px;
                outline: none;
                padding: 10px;
            }

            .objetivosTreino{
                display: flex;
                flex-direction: column;
                background-color: #d8d8d8;
                border-radius: 8px;
                padding: 15px;
                gap: 10px;
                
                .objetivo{
                    min-height: 4em;
                    font: 500 1.5em 'Roboto';
                    width: 30em;
                    max-width: 80vw;
                    border-radius: 3px;
                    outline: none;
                    padding: 10px;
                }

                h2{
                    font: 500 24px 'Roboto';
                    color: #000000;
                }
            }

            .exerciciosTreino{
                display: flex;
                flex-direction: column;
                background-color: #d8d8d8;
                border-radius: 8px;
                padding: 15px;
                gap: 10px;

                .exercicio{
                    min-height: 4em;
                    font: 500 1.5em 'Roboto';
                    width: 30em;
                    max-width: 80vw;
                    border-radius: 3px;
                    outline: none;
                    padding: 10px;
                }

                h2{
                    font: 500 24px 'Roboto';
                    color: #000000;
                }
            }
        }

        .tabela {
            width: 50em; 
            max-width: 80vw;
            overflow-x: auto; 
        }
        
        .tabela table {
            width: 100%; 
            border-collapse: collapse; 
            background-color: #000;
            min-width: 600px; 
        }
        
        .tabela .nomes td {
            font: 500 1.5rem 'Roboto'; 
            color: #000;
            text-align: left;
            padding: 0.5rem; 
            border-top: 1px solid #000;
            background-color: #d8d8d8;
            border: #000 solid 2px;
        }
        
        .tabela td {
            font: 500 1.5rem 'Roboto';
            border: #000 1px solid;
            color: #000;
            text-align: left;
            padding: 0.5rem;
            border-top: 1px solid #000;
            background-color: #FFFFFF;
            word-wrap: break-word; 
        }
    }
}

@media (max-width: 768px) {
    .tabela table td {
        font-size: 1rem; 
        padding: 0.25rem; 
    }
}

@media screen and (max-width: 600px) {
       
    .avatar{  
        height: 20em;
    }
    .infosCliente{

     .datidade{
         flex-wrap: wrap;
     }
     
     .avas{
         flex-wrap: wrap;
     }
 }

 .objetivo{
    height: 10em;
 }

 .exercicio{
    height: 10em;

 }

 }
    

