

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html    {
    scroll-behavior: smooth;
        }


:target{ 
    scroll-margin-top: .8em; 
       }


.landing-page {

    .cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
        padding-left: 4vh;
        padding-right: 4vh;
        background-color: #fff;
        box-shadow: 1px 1px 2px #000;
        position: relative;
        max-height: 8em;

        .logo {
            width: 9vh;
        }

        a{
            color: #000;
        }

        p {
            font-family: 'Kanit';
            font-size: 24px;
            color: #000;
        }

        .abrigatogleaberto{

            display: flex;
            flex-direction: row;
            justify-content: center;
            box-shadow: 0px 0px 10px #000000;
            background-color: #ffffff;

            .part1{
                display: flex;
                flex-direction: column;
                border: solid 1px #000000;
                font: 400 1em 'Kanit';
                gap: 1em;

                h2{
                    padding: 0.6em 0.8em 0.6em 1em;
                   
                }
                h2:hover{
                    background-color: #3ca4fb;
                }


            }

            .part2{
                display: flex;
                flex-direction: column;
                border: #000 solid 1px;
                font: 400 0.7em 'Kanit';
                align-items: center;
                justify-content: center;

                h2{
                   
                }

            }
            
        }        
    }

    .secao1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .fundo {
            max-width: 100%;
        }

        .texto1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
       
            h1 {
                font-family: 'Oswald';
                font-size: 7vh;
                color: #ffffff;
                text-shadow: 1px 1px 2px #000;
                text-align: center;
            }

            .intro{
                display: flex;
                flex-direction: column;
                gap: 2vh;

                 p {
                    font-family: 'Kanit';
                    font-size: 3vh;
                    color: #ffffff;
                    text-shadow: 1px 1px 2px #000;
                }
                
                .Login-button {
                    border-radius: 20px;
                    background-color: #fff;
                    max-width: 255px;
                    padding: 12px;
                    margin-left: 170px;
                    border: none;
                    font-family: 'Kanit';

                    .Acesse {
                        font-family: 'Roboto';
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
           
        }

    }

    .secao2 {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 5vh;
        gap: 7vh;

        .img2 {
            width: 60vh;
        }

        .texto2 {

            display: flex;
            flex-direction: column;
            gap: 2vh;
            

            h2 {
                font-family: 'Inter';
                font-size: 4vh;

            }

            h3 {

                font-family: 'Inter';
                font-weight: 500;
                font-size: 3vh;
                margin-bottom: 6vh;
            }

            ul {

                width: 40vw;
                

                li {

                    font-family: 'Inter';
                    font-weight: 500;
                    font-size: 3vh;
                    margin-bottom: 4vh;
                    

                }


            }

        }

    }


    .secao3 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #C3D2E9;
        padding: 10vh;
        gap: 6vh;

        .sobrePersonal {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5vw;

            .infoPersonal{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 6vh;

                p{
                    border-radius: 20px;
                }
            }

            h2 {
                font-family: 'Inter';
                font-weight: 500;
                font-size: 4vh;
                text-align: center;
            }

            p{
                background-color: #CADFFF;
                border: 1px solid black;
                padding: 1em;
                font: 400 2em 'Inter';
                width: 30vw;
                text-align: center;
            }

            .ImgPersonal {
                height: 55.7vh;
                width: 37vh;
                border-radius: 15px;
                border: 1px solid #ffffff;
            }
        }

        .formacoes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2vw;

            .titulo{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1vw;

                h2{
                    font: 500 3vh 'Inter';
                }

                img{
                    width: 3vh;
                }
            }

            .itens{ //formacoes
                display: flex;
                flex-direction: row;
                gap: 3vw;

                &>div {
                    background-color: #CADFFF;
                    box-shadow: 1px 1px 2px #000;
                    padding: 2vh;
                    border-radius: 20px;
                    width: 27vw;

                    h2 {
                        text-align: center;
                        font-family: 'Inter';
                        font-weight: 600;
                        font-size: 2.5vh;

                    }
                }
            }

        }

    }

    .secao4 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10vh;
   
     

            .sobre{
            display: flex;
            flex-direction: column;
            gap: 18px;
              
                h1 {

                    text-align: center;
                    top: 0%;
                    font: 600 2em 'Inter';
        
                } 

                .olhada {
                    text-align: center;
                    top: 0%;
                    font: 500 2.5vh 'Inter';
                }        
            }
      
        .container {

            display: flex;
            flex-direction: column;
            gap: 10vh;

            .tasks {

                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                gap: 17vh;

            }


            .Planejamento {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 4vh;

                h2{
                    font: 700 3vh 'Inter';
                }
                 p{
                    font: 600 2vh 'Inter';
                    width: 15vw;

                 }

                .titulo1 {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 2vh;

                    img{
                        width: 1.5vw;
                    }
                }

                .icone{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    background-color:whitesmoke;
                    padding: 20px;
                    border-radius: 200px;
                    box-shadow: 0px 5px 5px grey;

                    img{
                        width: 150px;
                    }
                }
            }

            .Suporte {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 4vh;

                h2{
                    font: 700 3vh 'Inter';
                }
                 p{
                    font: 600 2vh 'Inter';
                    width: 19vw;
                 }

                .titulo2 {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    img{
                        width: 20px;
                    }
                }

                .icone{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    background-color:whitesmoke;
                    padding: 20px;
                    border-radius: 200px;
                    box-shadow: 0px 5px 5px grey;

                    img{
                        width: 150px;
                    }
                }

            }

            .Segurança {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 4vh;

                
                h2{
                    font: 700 3vh 'Inter';
                }
                 p{
                    font: 600 2vh 'Inter';
                    width: 19vw;
                 }


                .titulo3 {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 2vh;

                    img{
                        width: 20px;
                    }
                }

                .icone{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    background-color:whitesmoke;
                    padding: 20px;
                    border-radius: 200px;
                    box-shadow: 0px 5px 5px grey;

                    img{
                        width: 155px;
                    }
                }

            }

        }

    }


    .secao5 {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 11vh;
        background-color: #C3D2E9;
        padding: 10vh;

        .textoReduzido{
            display: none;
        }

        .atend {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-family: 'Inter';
            font-weight: 600;
            font-size: 4vh;
            text-align: center;
        
        }

        .textoPadrão{
            font-family: 'Inter';
            font-weight: 600;
            font-size: 4vh;
            text-align: center;
        }


        .OpcoesContato {

            display: flex;
            flex-direction: row;
            gap: 12vw;

            .Whatsapp {
                display: flex;
                flex-direction: column;
                gap: 0.5vh;

                .titulo1 {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 3%;

                    img{
                        width: 30px;
                    }

                    h2 {

                        font-family: 'Inter';
                        font-weight: 600;
                        font-size: 3vh;

                    }
                }

                h3 {

                    font-family: 'Inter';
                    font-weight: 600;
                    font-size: 2.7vh;
                }

            }

            .Email {

                .titulo2 {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 3%;

                    img{
                        width: 30px;
                    }


                    h2 {

                        font-family: 'Inter';
                        font-weight: 600;
                        font-size: 3vh;

                    }
                }

                h3 {

                    font-family: 'Inter';
                    font-weight: 600;
                    font-size: 2.7vh;
                }

            }



            .Web {

                display: flex;
                flex-direction: column;
                gap: 0.5vh;

                .titulo3 {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 3%;

                    img{
                        width: 30px;
                    }


                    h2 {

                        font-family: 'Inter';
                        font-weight: 600;
                        font-size: 3vh;

                    }
                }

                h3 {

                    font-family: 'Inter';
                    font-weight: 600;
                    font-size: 2.3vh;
                }

            }

        }
    }

    
@media screen and (max-width: 768px) {
        
    .cabecalho{

        p{
            display: none;
        }

        .abrigatogleaberto{
            position: relative;
            top: 4.2em;
            .link-toggle{
       
                font-size: 3em;
             
             }

        }
        .abrigatoglefechado{
           
            .link-toggle{
       
                font-size: 3em;
             
             }

        }

        

   
}



}
@media screen and (min-width: 768px) {
        
    .cabecalho{

    .abrigatogleaberto{
       
       display: none;
    
    }
    .abrigatoglefechado{
       
       display: none;
    
    }
}


}
    
}



        
    

    


