@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html    {
    scroll-behavior: smooth;
        }


:target{ /*estilizar elementos que receberam foco através de um fragmento de URL lá no HTML ('a' referenciado com #)*/
    scroll-margin-top: .8em; /*css que permite que o scrolamento seja feito corretamente sem erros*/
       }


.landing-page {

    .cabecalho {

        padding: 2vh;

         a{
           color: #000;
                }
    }

    .secao1 {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .fundo {

            max-width: 100%;

        }

        .texto1 {

            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
       

            h1 {

                font-family: 'Oswald';
                font-size: 7vh;
                color: #ffffff;
                text-shadow: 1px 1px 2px #000;
                text-align: center;

            }

            p {

                font-family: 'Kanit';
                font-size: 3vh;
                color: #ffffff;
                text-shadow: 1px 1px 2px #000;

            }
        }

        .Login-button {

            border-radius: 20px;
            background-color: #fff;
            max-width: 165px;
            padding: 12px;
            margin-left: 170px;
            border: none;
            font-family: 'Kanit';


            .Acesse {
                font-family: 'Roboto';
                color: #000;
                text-decoration: none;
            }

        }

    }


    .secao2 {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10vh;

        .img2 {
            width: 60vh;
        }

        .texto2 {

            display: flex;
            flex-direction: column;
            gap: 2vh;



            h2 {
                font-family: 'Inter';
                font-size: 4vh;

            }

            h3 {

                font-family: 'Inter';
                font-weight: 500;
                font-size: 3vh;
                margin-bottom: 6vh;
            }

            ul {

                width: 40vw;

                li {

                    font-family: 'Inter';
                    font-weight: 500;
                    font-size: 3vh;
                    margin-bottom: 15px;

                }


            }

        }

    }


    .secao3 {

        display: flex;
        flex-direction: column;
        justify-content: column;
        background-color: #C3D2E9;
        padding: 10vh;
        gap: 6vh;

        .sobrePersonal {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5vw;

            .infoPersonal{
                display: flex;
                flex-direction: column;
            }

            h2 {
                font-family: 'Inter';
                font-weight: 500;
                font-size: 4vh;
                text-align: center;
            }

            .ImgPersonal {
                max-width: 47vh;
                border-radius: 15px;
                border: 1px solid #ffffff;
            }
        }

        .Formacoes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2vw;

            .titulo{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1vw;

                img{
                    width: 3vh;
                }
            }

            .itens{ //formacoes
                display: flex;
                flex-direction: row;
                gap: 1vw;

                &>div {
                    background-color: #CADFFF;
                    box-shadow: 1px 1px 2px #000;
                    padding: 2vh;
                    border-radius: 20px;
                    width: 24vw;

                    h2 {
                        text-align: center;
                        font-family: 'Inter';
                        font-weight: 600;
                        font-size: 2.5vh;

                    }
                }
            }

        }

    }

    .secao4 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10vh;

        h1 {

            text-align: center;
            top: 0%;

        }

        .olhada {
            text-align: center;
            top: 0%;
        }

        .container {

            display: flex;
            flex-direction: column;
            gap: 4vh;

            .tasks {

                display: flex;
                flex-direction: row;
                justify-content: space-around;

            }


            .Planejamento {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2vh;

                .titulo1 {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 2vh;

                    img{
                        width: 1.5vw;
                    }
                }

                .icone{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    background-color:whitesmoke;
                    padding: 20px;
                    border-radius: 200px;
                    box-shadow: 0px 5px 5px grey;

                    img{
                        width: 150px;
                    }
                }

                p{
                    width: 180px;
                }
            }

            .Suporte {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2vh;

                .titulo2 {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    img{
                        width: 20px;
                    }
                }

                .icone{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    background-color:whitesmoke;
                    padding: 20px;
                    border-radius: 200px;
                    box-shadow: 0px 5px 5px grey;

                    img{
                        width: 150px;
                    }
                }

                p{
                    width: 250px;
                }

            }

            .Segurança {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2vh;

                .titulo3 {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 2vh;

                    img{
                        width: 20px;
                    }
                }

                .icone{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    background-color:whitesmoke;
                    padding: 20px;
                    border-radius: 200px;
                    box-shadow: 0px 5px 5px grey;

                    img{
                        width: 155px;
                    }
                }

                p{
                    width: 240px;
                }

            }

        }

    }


    .secao5 {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 100px;
        background-color: #C3D2E9;
        padding: 100px;

        .atend {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        h1 {

            font-family: 'Inter';
            font-weight: 600;
            font-size: 48px;
            text-align: center;
        }

        .OpcoesContato {

            display: flex;
            flex-direction: row;
            gap: 100px;
            margin-left: 100px;


            .Whatsapp {

                .titulo1 {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    img{
                        width: 30px;
                    }

                    h2 {

                        font-family: 'Inter';
                        font-weight: 600;
                        font-size: 32px;

                    }
                }

                h3 {

                    font-family: 'Inter';
                    font-weight: 600;
                    font-size: 26px;
                }

            }

            .Email {

                .titulo2 {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    img{
                        width: 30px;
                    }


                    h2 {

                        font-family: 'Inter';
                        font-weight: 600;
                        font-size: 32px;

                    }
                }

                h3 {

                    font-family: 'Inter';
                    font-weight: 600;
                    font-size: 26px;
                }

            }



            .Web {

                .titulo3 {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    img{
                        width: 30px;
                    }


                    h2 {

                        font-family: 'Inter';
                        font-weight: 600;
                        font-size: 32px;

                    }
                }

                h3 {

                    font-family: 'Inter';
                    font-weight: 600;
                    font-size: 26px;
                }

            }

        }
    }
}