.pagina-horarios-treinos{
    background-image: url('../../../public/assets/images/fundo.jpg');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1{
        color: #ffffff
    }

    h2{
        color: #ffffff
    }

    .secaomae{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;

        .secao1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;

            .irAddTreino{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 7px;

                .add{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 20px;
                }
            }
        }

        .secaotreinos{
            display: flex;
            flex-direction: column;
            gap: 40px;
            
            .atualSemana{
                display: flex;
                flex-direction: column;
                gap: 15px;

                .titulo{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .treinosatuais{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                }
            }

            .proxSemanas{
                display: flex;
                flex-direction: column;
                gap: 15px;
                
                .titulo{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .treinosproxs{
                    display: flex;
                    flex-direction: row;
                    gap: 49px;
                }
            }
            
            .seta{
                width: 30px;
            }
        }
    }
}