@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.menu{
    background-color: white;

    .opcoes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px; 

        .usuario{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .user{
                width: 40px;
            }
        }

        .horarios{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 7px;

            .treinosmarcados{
                display: flex;
                flex-direction: row;
                gap: 1em;

                .horas{
                    width: 30px;
                }
    
                p{
                    color: #000;
                    text-decoration: none;
                }
            }
            
        }

        .conclu{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 7px;

            .finalizados{

                display: flex;
                flex-direction: row;
                gap: 1em;

                .check{
                    width: 30px;
                }

                p{
                    color: #000;
                    text-decoration: none;
                }
        
            }

            
        }

        .logout{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1em;

            .sair{
                width: 40px;
            }
        }

        p{
            font: 500 26px 'Roboto';
        }
    }

    @media screen and (max-width: 768px){

        .horarios{
            
            .treinosmarcados{
                
                .horas{
                    width: 30px;
                }
    
                p{
                    display: none;
                }
            }
            
        }

        .conclu{
       
            .finalizados{

                .check{
                    width: 30px;
                }

                p{
                    display: none;
                }
        
            }

            
        }

        .logout{
           
            .sair{
                width: 40px;
            }

            p{
                display: none;
            }
        }
        
    }
}