.pagina-treinos-concluidos{
    background-image: url('../../../public/assets/images/fundo.jpg');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;

    .secaomae{

        .secao1{
            h1{
                color: #fff;
                font: 700 3.5vh 'Roboto';
            }
        }
            .treinosConcluídos{
                p{
                    color: #fff;
                    font: 400 2.5vh 'Roboto';
                }
            }
    }
}